#wrap {                                                                 
  background: #fff;                                                     
  background: -moz-linear-gradient(top, #EEEEEE 0%, #FFFFFF 2%);        
  background: -webkit-gradient(                                         
    linear, left top, left bottom,                                      
    color-stop(0%,#EEEEEE),                                             
    color-stop(2%,#FFFFFF)                                              
  );                                                                    
  border: 1px #eee solid;                                               
  box-shadow: 0 0 50px #aaa;                                            
  color: #555;                                                          
  font-family: 'Myriad Pro', 'Gill Sans', 'Gill Sans MT',               
               'Calibri', 'sans-serif';                                 
  padding: 70px 70px 20px 70px;                                         
  -webkit-box-shadow: 0 0 50px #aaa;                                    
  -moz-box-shadow: 0 0 30px #aaa;                                       
  width: 80%; margin: 10% auto; margin-top:0%                           
}                                                                       
#title {                                                                
  font-size:200%;                                                       
  text-align:center;                                                    
}                                                                       
#footnote{                                                              
  text-align:center;                                                    
}                                                                       
#img {                                                                  
  image-orientation: from-image;                                        
}                                                                       
span { color: #d92626; }                                                
.pagination a {                                                         
  color: black;                                                         
  float: left;                                                          
  padding: 8px 16px;                                                    
  text-decoration: none;                                                
  transition: background-color .3s;                                     
}                                                                       
.pagination a.active {                                                  
  background-color: dodgerblue;                                         
  color: white;                                                         
}                                                                       
.pagination a:hover:not(.active) {background-color: #ddd;}              
.figure {                                                               
  position: relative !important;                                        
  display: inline-block;                                                
  text-align: center;                                                   
  margin-left: 0;                                                       
  margin-right: 0;                                                      
}                                                                       
.img-magnifier-glass {                                                  
  position: absolute !important;                                        
  border: 3px solid #FF0 !important;                                    
  border-radius: 0% !important;                                         
  cursor: none !important;                                              
  width: 150px !important;                                              
  height: 150px !important;                                             
}                                                                       
body {                                                                  
  display: flex;                                                        
  min-height: 100vh;                                                    
  flex-direction: column;                                               
}                                                                       
main {                                                                  
  flex: 1 0 auto;                                                       
}                                                                       
.pagination {                                                           
  display: flex !important;                                             
  align-items: center !important;                                       
  justify-content: center !important;                                   
}                                                                       
table.striped > tbody > tr:nth-child(odd){                              
  background-color:#ffffff !important                                   
}                                                                       
img { min-height: 150px; }                                              
.hidden-image { filter: opacity(0%); }                                  
